body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(29, 32, 46);
    margin: 0;
    padding: 0;
}

.topOptionDiv{
    top: 0px;
    left: 0px;
    height: 80px;
    border-bottom: 1px rgb(40, 42, 56) solid;
    color: rgb(191, 190, 190);
}

.topOptionDiv .text{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.topOptionDiv .subText{
    position: absolute;
    margin-left: 65px;
    margin-top: 13px;
    font-size: 12px;
}

.sideDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: rgb(23, 23, 31);
    border-right: 2px solid rgb(46, 44, 74);
}

.titleDiv{
    user-select: none;
    padding: 10px;
    padding-top: 20px;
    text-indent: 10px;

    font-size: 13px;
    color: rgb(191, 190, 190);
}

.optionDiv {
    margin-top: 10px;
    padding: 10px;
    width: 180px;
    margin-left: 10px;
    text-indent: 40px;
    text-align: left;
    user-select: none;
    font-size: 14px;
    color: rgb(191, 190, 190);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.optionDiv:hover {
    background-color: rgba(255, 255, 255, 0.155);
    color: white; 
}


.optionDiv .icon {
    margin-right: 10px; 
    margin-left: -78px;
    width: 55px;
}

.optionDiv .text {
    font-size: 14px;
    color: rgb(191, 190, 190);
}

.mainDiv{
    margin-left: 300px;
    padding: 10px;
    margin-top: 30px;
    width: 720px;
    height: 80px;
    color: white;
}

.footerDiv {
    margin-top: 60px;
    color: rgb(191, 190, 190);
    font-size: 10px;
    margin-right: 10px;
}

.footerDiv .text{
    margin-left: 180px;
}

.mainDivVersions {
    position: absolute;
    top: 30px;
    left: 250px; 
    padding: 20px;
    width: 50%;
    height: 1400px;
    color: white;
    background-color: grey;
    background-color: rgb(23, 23, 31);
    border: 2px solid rgb(46, 44, 74);}

.mainDivVersions h1{
    font-size: 30px;
    margin-top: -5px;
}

.mainDivVersions p{
    font-size: 10px;
}

.incomeDivDashboard{
    position: absolute;
    padding: 20px;
    background-color: rgb(23, 23, 31);
    top: 20px;
    left: 240px;
    border-radius:5px;

    width: 30%;
    height: 300px;
}

.ExpenseDivDashboard{
    position: absolute;
    padding: 20px;
    background-color: rgb(23, 23, 31);
    top: 20px;
    left: 750px;
    border-radius:5px;

    width: 30%;
    height: 300px;
}
